body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  font-size: 1rem;
  background-color: gray;
}

.page2 {
  font-family: 'Times New Roman', Times, serif;
  margin: 0px;
  font-size: 25px;
  background-color: brown;
}


.clearfix {
  clear: both;
}

main {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;  
  color: black;
  font-size: 75px;
  font-family: 'Times New Roman', Times, serif;

}

.logo img {
  width: 1000px;
  height: 550px;
  align-items: center;
  border-color: black;
  border-width: 1px;
}

.logo2 img {
  width: 1500px;
  height: 750px;
  
}

H1 {
  text-align: center;
}

.scroll {
  font-size:30px;

}

input {
  width: 30%;
  border-radius: 20px;
}

.buttons {
  margin: 25px auto;
}

button {
  background-color: #31c03d;
}

header a {
  text-decoration: none;
  padding: 1px;
  color: red;
  background-color: beige;
  font-size: 15px;
}


footer {
  border-top: 1px solid rgb(190, 190, 190);
  position: bottom; 
  align-items: center;
  width: 100%;
  bottom: 0px;
  font-size: 20px;
  background-color: rgb(56, 1, 70);
}

footer a {
  text-decoration: none;
  bottom: 0px;
  padding: 10px;
  color: black;
  background-color: cadetblue;
}

.left {
  float: left;
}

.right {
  float: right;
}


.column1,
.column2,
.column3 {
  width: 100%;
  display: inline-block;
  padding: 40px;
  margin: 40px;
  border: 1px solid black;
}



