p {
font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	
}

.header {
    padding: 10px, 10px, 10px, 10px;
	height: 160px;
    text-align: center;
    background: #dddddd;
    color: white;
    font-size: 20px;
  }

  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  
#logo {
    text-align: left;
    margin: 0 auto;
}

#logobox {
    height: 80px;
	text-align: left;
    /* margin: -10px 10px 0; */
	margin: auto;
}

#leaflogo {
    height: 30px;
    width: 30px;
    position: absolute;
    margin: -13px -5px 0;
}

a:header-links {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

a:header-links visited {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

a:link, a:visited {
  background-color: ;
  color: #333333;
  padding: 14px 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #bbbbbb;
}


